/* font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif;  */
:root {
  --branding-color: #191e28;
  --secondary-color: #fffff0;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  color: var(--secondary-color);
  opacity: 0.9;
}
h2 h3 h4 h5 h6{
  font-family: var(--default-font-family);
}
.row img {
  background-color: antiquewhite;
  
}
.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 30px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 24px;
  opacity: 0.8;
  line-height: 3;
  color: var(--secondary-color);
}
.btn-branding {
  color: var(--branding-color);
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 27px;
  padding: 15px 30px;
  background: var(--secondary-color);
  border-radius: 3px;
  opacity: 0.9;
}
:hover .btn-branding {
 color: grey; 
 background: var(--secondary-color);

}
.btn-branding-border {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 27px;
  padding: 15px 30px;

  border-radius: 3px;
  opacity: 0.9;
}
:hover .btn-branding-border {
  color: var(--secondary-color);
  background-color: var(--branding-color);
}

.btn-cta {
  display: flex;
  justify-content: center;
}

.about-section {
  padding: 30px 30px;
}
.about-section p{
  font-family: var(--default-font-family);
  font-size: 16px;
}
.about-section-content {
margin: 30px;
}
.profile-image {
  margin-top: 60px;
}
.attr-link {
  font-size: 10px;
  font-family: var(--default-font-family);
  color:#717272;
}
.text {
   font-family: var(--default-font-family);
  font-size: 10px;
    color:#717272;
}

.row h3{
  margin-top: 20px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  font-size: 24px;

}
.row p {
   font-family: var(--default-font-family);
  font-size: 14px;
}
.weather-app {
  margin-bottom: 10px;
}
.contact-link {
   font-family: var(--default-font-family);
  display: flex;
  justify-content: center;
}
.contact-headings {
  font-family: var(--default-font-family);
  font-weight: 500;
}
@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }
  .hero {
    padding: 80px 30px;
  }
  .hero p {
    line-height: 2;
    font-size: 16px;
  }
  .about-section {
    text-align: center;
    padding: 0;
    
  }
  .about-section .profile-image {
    margin: 0;
  }
  .about-section-content {
    margin-bottom: 0;
  }
  .contact-button {
    margin-bottom: 0;
    
  }
  
}
